<p align="center">
<b><font size="9" color="#000080">PORTICO PLANO ETABS</font></b>
<div align="center">
    <div style="display: inline-block;">
    <span style="font-size: 18px;position: relative; bottom: 13px;">Richard Cueto Calderon | Update :7/05/204 | API ETBAS | Python</span>
    </div>
</div>
</p>

In [75]:
import os
import sys
import comtypes.client
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Etabas

In [76]:
AttachToInstance = False
SpecifyPath = True
ProgramPath = "C:\Program Files\Computers and Structures\ETABS 19\ETABS.exe"
APIPath = r'D:\Users\User(D)\Documentos\GitHub\freeproyect\Etabs\Modelos'
if not os.path.exists(APIPath):
    try:
        os.makedirs(APIPath)
    except OSError:
        pass
ModelPath = APIPath + os.sep + 'Portico.edb'
helper = comtypes.client.CreateObject('ETABSv1.Helper')
helper = helper.QueryInterface(comtypes.gen.ETABSv1.cHelper)
if AttachToInstance:
    try:
        myETABSObject = helper.GetObject("CSI.ETABS.API.ETABSObject") 
    except (OSError, comtypes.COMError):
        print("No running instance of the program found or failed to attach.")
        sys.exit(-1)
else:
    if SpecifyPath:
        try:
            myETABSObject = helper.CreateObject(ProgramPath)
        except (OSError, comtypes.COMError):
            print("Cannot start a new instance of the program from " + ProgramPath)
            sys.exit(-1)
    else:
        try: 
            myETABSObject = helper.CreateObjectProgID("CSI.ETABS.API.ETABSObject") 
        except (OSError, comtypes.COMError):
            print("Cannot start a new instance of the program.")
            sys.exit(-1)
    myETABSObject.ApplicationStart()
SapModel = myETABSObject.SapModel
SapModel.InitializeNewModel()

0

## Modelo

In [77]:
# Creamos un nuevo modelo en blanco
ret=SapModel.File.NewBlank()

In [78]:
# Cambiamos unidades a ton_m
Tonf_m_C=12
ret = SapModel.SetPresentUnits(Tonf_m_C)

In [79]:
# Definicion de material concreto
fc=280
material_type=2
material_concreto="fc"+str(fc)+"kg/cm2" #fc=280kg/cm2
ret=SapModel.PropMaterial.SetMaterial(material_concreto, material_type)
# Definir propiedades mecanicas del material
E=15000*fc**0.5             #kg/cm2
v=0.2
CT=0.0000055
ret=SapModel.PropMaterial.SetMPIsotropic(material_concreto,E,v,CT)

In [80]:
# Definicion de material albañileria
fc=100
material_type=8
material_albañileria="fc"+str(fc)+"kg/cm2" #fc=280kg/cm2
ret=SapModel.PropMaterial.SetMaterial(material_albañileria, material_type)
# Definir propiedades mecanicas del material
E=150*fc**0.5             #kg/cm2
v=0.2
CT=0.0000055
ret=SapModel.PropMaterial.SetMPIsotropic(material_albañileria,E,v,CT)

In [81]:
# Creamos seccion de viga y columna
# Viga
b_v=0.3
h_v=0.6
nombre_viga='v '+str(b_v)+'x'+str(h_v)          #V 0.30x0.60
ret = SapModel.PropFrame.SetRectangle(nombre_viga, material_concreto, h_v, b_v)

# Columna
b_c=0.45
h_c=0.45
nombre_columna='v '+str(b_c)+'x'+str(h_c)          #V 0.45x0.45
ret = SapModel.PropFrame.SetRectangle(nombre_columna, material_concreto, h_c, b_c)

In [82]:
# definimos modificaciones
ModValue = [1, 1, 0, 1, 1, 1, 1, 1]
ret = SapModel.PropFrame.SetModifiers(nombre_viga, ModValue)
ret = SapModel.PropFrame.SetModifiers(nombre_columna, ModValue)

In [83]:
ret = SapModel.PropArea.SetSlab('Losa maciza',0,1,material_concreto,.15)

In [84]:
ret = SapModel.PropArea.SetWall('MURO ALBAÑILERIA', 1,1, material_albañileria,.142)

**CREACION DE PORTICO**

Esta creacion ser de manera manual y mecanica

+ Creacion de Frame por coordendas
+ Ingresamos paramteros

In [85]:
h=3
L=4
L2=2
paños=10
pañosy=3
niveles=5

for k in range(niveles):
    for j in range(pañosy+1):
        #columnas
        for i in range(paños+1):
            FrameName = ' '
            [FrameName, ret] = SapModel.FrameObj.AddByCoord(i*L, j*L2, k*h,i*L, j*L2, (k+1)*h, FrameName, nombre_columna, '', 'Global')

        # vigas
        for i in range(paños):
            FrameName = ' '
            [FrameName, ret] = SapModel.FrameObj.AddByCoord(i*L, j*L2, (k+1)*h, (i+1)*L, j*L2, (k+1)*h, FrameName, nombre_viga, '', 'Global')

    for j in range(pañosy):   
        # transversales
        for i in range(paños+1):
            FrameName = ' '
            [FrameName, ret] = SapModel.FrameObj.AddByCoord(i*L, j*L2, (k+1)*h, i*L, (j+1)*L2, (k+1)*h, FrameName, nombre_viga, '', 'Global')

In [86]:
# Agregamos muro
for k in range(niveles):
    #xz
    nameWall=""
    x=[0,L,L,0]
    y=[0,0,0,0]
    z=[0,0,(k+1)*h,(k+1)*h]
    ret = SapModel.AreaObj.AddByCoord(4, x, y, z,nameWall,'MURO ALBAÑILERIA')
    #xz
    nameWall=""
    x=[(paños-1)*L,paños*L,paños*L,(paños-1)*L]
    y=[0,0,0,0]
    z=[0,0,(k+1)*h,(k+1)*h]
    ret = SapModel.AreaObj.AddByCoord(4, x, y, z,nameWall,'MURO ALBAÑILERIA')
    
    #yz
    nameWall=""
    x=[0,0,0,0]
    y=[0,L2,L2,0]
    z=[0,0,(k+1)*h,(k+1)*h]
    ret = SapModel.AreaObj.AddByCoord(4, x, y, z,nameWall,'MURO ALBAÑILERIA')
    #yz
    nameWall=""
    x=[paños*L,paños*L,paños*L,paños*L]
    y=[(pañosy-1)*L2,pañosy*L2,pañosy*L2,(pañosy-1)*L2]
    z=[0,0,(k+1)*h,(k+1)*h]
    ret = SapModel.AreaObj.AddByCoord(4, x, y, z,nameWall,'MURO ALBAÑILERIA')

In [89]:
#assign point object restraint at base
Restraint = [True, True, True, True, True, True]
for j in range(pañosy+1):
    for i in range(paños+1):
        Pointi,Pointj= ' ',' '
        [Pointi, Pointj, ret] = SapModel.FrameObj.GetPoints(str(i+1), Pointi, Pointj)
        ret = SapModel.PointObj.SetRestraint(Pointi, Restraint)

In [ ]:
# Creamos un LoadPattern
ret = SapModel.LoadPatterns.Add('FH', 8, 0, True)
for j in range(niveles):
    for i in range(paños):
        # Asignar carga distribuida
        ret = SapModel.FrameObj.SetLoadDistributed(str(paños+2+i+(2*paños+1)*j),'Dead',1,2,0,1,-0.4,-0.4,'Local')
        ret = SapModel.FrameObj.SetLoadDistributed(str(paños+2+i+(2*paños+1)*j),'Live',1,2,0,1,-0.25,-0.25,'Local')

In [ ]:

# Asignar carga puntual
PointLoadValue = [1,0,0,0,0,0]
Pointi=""
Pointj=""
[Pointi, Pointj, ret] = SapModel.FrameObj.GetPoints("1", Pointi, Pointj)
ret = SapModel.PointObj.SetLoadForce(Pointj,'FH',PointLoadValue)

In [ ]:
#refresh view, update (initialize) zoom
ret = SapModel.View.RefreshView(0, False)

In [ ]:
#save model
ret = SapModel.File.Save(ModelPath)

In [ ]:
#run model (this will create the analysis model)
ret = SapModel.Analyze.RunAnalysis()

# EXTRAER DATOS DEL ETABS

El codigo proporcionado nos permitira extraer cualquier tabla que se encuentre en el programa etabs.

El trabajo de esta sera identificar las tablas con las que queremos trabajar.

In [4]:
def conect_to_etabs():
    helper = comtypes.client.CreateObject('ETABSv1.Helper')
    helper = helper.QueryInterface(comtypes.gen.ETABSv1.cHelper)
    try:
        myETABSObject = helper.GetObject("CSI.ETABS.API.ETABSObject")
        print('Conected to ETABS model')
    except (OSError, comtypes.COMError):
        print("No running instance of the program found or failed to attach.")
        sys.exit(-1)
    SapModel = myETABSObject.SapModel
    return SapModel,myETABSObject,helper

SapModel,myETABSObject,helper=conect_to_etabs()

Conected to ETABS model

In [ ]:
name_table="Base Reactions"
name_table="Element Forces - Beams"
table=SapModel.DatabaseTables.GetTableForDisplayArray (name_table,GroupName="")
colums=table[2]
noOfRows=table[3]
val=np.array_split(table[4],noOfRows)
df=pd.DataFrame(val)
df.columns=colums
df

In [ ]:
df

In [ ]:
# df=df.drop(columns='FX')
# df=df.drop(columns='FY')
# df=df.drop(columns='MZ')
# df=df.drop(columns='X')
# df=df.drop(columns='Y')
# df=df.drop(columns='Z')

In [ ]:
df

## creamo diaphragm

In [90]:
ret=SapModel.Diaphragm.SetDiaphragm('D1',SemiRigid=True)

In [91]:
ret=SapModel.Diaphragm.SetDiaphragm('D2',False)
ret=SapModel.Diaphragm.SetDiaphragm('D3',False)
ret=SapModel.Diaphragm.SetDiaphragm('D4',False)
ret=SapModel.Diaphragm.SetDiaphragm('D5',False)
ret=SapModel.Diaphragm.SetDiaphragm('D6',False)

In [92]:
numberName=0
myName=[]
myLabel=[]
myStory=[]
lista=SapModel.AreaObj.GetLabelNameList(numberName,myName,myLabel,myStory)
print(lista[0])#cantidad elementos area
print(lista[1])#uniqueName
print(lista[2])#Label
print(lista[3])#story

20
('1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20')
('W1', 'W2', 'W3', 'W4', 'W5', 'W6', 'W7', 'W8', 'W9', 'W10', 'W11', 'W12', 'W13', 'W14', 'W15', 'W16', 'W17', 'W18', 'W19', 'W20')
('Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1')

In [94]:
colums=["uniqueName","label","story"]
df=pd.DataFrame(np.transpose([lista[1],lista[2],lista[3]]),columns=colums)
df

   uniqueName label   story
0           1    W1  Story1
1           2    W2  Story1
2           3    W3  Story1
3           4    W4  Story1
4           5    W5  Story1
5           6    W6  Story1
6           7    W7  Story1
7           8    W8  Story1
8           9    W9  Story1
9          10   W10  Story1
10         11   W11  Story1
11         12   W12  Story1
12         13   W13  Story1
13         14   W14  Story1
14         15   W15  Story1
15         16   W16  Story1
16         17   W17  Story1
17         18   W18  Story1
18         19   W19  Story1
19         20   W20  Story1

In [95]:
#filtro de columna story
df=df[df["story"]=="Story1"]
df

   uniqueName label   story
0           1    W1  Story1
1           2    W2  Story1
2           3    W3  Story1
3           4    W4  Story1
4           5    W5  Story1
5           6    W6  Story1
6           7    W7  Story1
7           8    W8  Story1
8           9    W9  Story1
9          10   W10  Story1
10         11   W11  Story1
11         12   W12  Story1
12         13   W13  Story1
13         14   W14  Story1
14         15   W15  Story1
15         16   W16  Story1
16         17   W17  Story1
17         18   W18  Story1
18         19   W19  Story1
19         20   W20  Story1

In [97]:
df=df[df["label"].str.startswith("W")]
df

   uniqueName label   story
0           1    W1  Story1
1           2    W2  Story1
2           3    W3  Story1
3           4    W4  Story1
4           5    W5  Story1
5           6    W6  Story1
6           7    W7  Story1
7           8    W8  Story1
8           9    W9  Story1
9          10   W10  Story1
10         11   W11  Story1
11         12   W12  Story1
12         13   W13  Story1
13         14   W14  Story1
14         15   W15  Story1
15         16   W16  Story1
16         17   W17  Story1
17         18   W18  Story1
18         19   W19  Story1
19         20   W20  Story1

In [99]:
for uniqueName in df['uniqueName']:
    ret=SapModel.AreaObj.SetDiaphragm(uniqueName,'D1')

lista frames

In [100]:
lista_frames=SapModel.FrameObj.GetLabelNameList(numberName,myName,myLabel,myStory)
print(lista_frames[0])#cantidad elementos area
print(lista_frames[1])#uniqueName
print(lista_frames[2])#Label
print(lista_frames[3])#story

585
('1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45', '46', '47', '48', '49', '50', '51', '52', '53', '54', '55', '56', '57', '58', '59', '60', '61', '62', '63', '64', '65', '66', '67', '68', '69', '70', '71', '72', '73', '74', '75', '76', '77', '78', '79', '80', '81', '82', '83', '84', '85', '86', '87', '88', '89', '90', '91', '92', '93', '94', '95', '96', '97', '98', '99', '100', '101', '102', '103', '104', '105', '106', '107', '108', '109', '110', '111', '112', '113', '114', '115', '116', '117', '118', '119', '120', '121', '122', '123', '124', '125', '126', '127', '128', '129', '130', '131', '132', '133', '134', '135', '136', '137', '138', '139', '140', '141', '142', '143', '144', '145', '146', '147', '148', '149', '150', '151', '152', '153', '154', '155', '156', '157', '158', '159', '160', '161', '162', '163', '164', '165', '166', '167', '168', '169', '170', '171', '172', '173', '174', '175', '176', '177', '178', '179', '180', '181', '182', '183', '184', '185', '186', '187', '188', '189', '190', '191', '192', '193', '194', '195', '196', '197', '198', '199', '200', '201', '202', '203', '204', '205', '206', '207', '208', '209', '210', '211', '212', '213', '214', '215', '216', '217', '218', '219', '220', '221', '222', '223', '224', '225', '226', '227', '228', '229', '230', '231', '232', '233', '234', '235', '236', '237', '238', '239', '240', '241', '242', '243', '244', '245', '246', '247', '248', '249', '250', '251', '252', '253', '254', '255', '256', '257', '258', '259', '260', '261', '262', '263', '264', '265', '266', '267', '268', '269', '270', '271', '272', '273', '274', '275', '276', '277', '278', '279', '280', '281', '282', '283', '284', '285', '286', '287', '288', '289', '290', '291', '292', '293', '294', '295', '296', '297', '298', '299', '300', '301', '302', '303', '304', '305', '306', '307', '308', '309', '310', '311', '312', '313', '314', '315', '316', '317', '318', '319', '320', '321', '322', '323', '324', '325', '326', '327', '328', '329', '330', '331', '332', '333', '334', '335', '336', '337', '338', '339', '340', '341', '342', '343', '344', '345', '346', '347', '348', '349', '350', '351', '352', '353', '354', '355', '356', '357', '358', '359', '360', '361', '362', '363', '364', '365', '366', '367', '368', '369', '370', '371', '372', '373', '374', '375', '376', '377', '378', '379', '380', '381', '382', '383', '384', '385', '386', '387', '388', '389', '390', '391', '392', '393', '394', '395', '396', '397', '398', '399', '400', '401', '402', '403', '404', '405', '406', '407', '408', '409', '410', '411', '412', '413', '414', '415', '416', '417', '418', '419', '420', '421', '422', '423', '424', '425', '426', '427', '428', '429', '430', '431', '432', '433', '434', '435', '436', '437', '438', '439', '440', '441', '442', '443', '444', '445', '446', '447', '448', '449', '450', '451', '452', '453', '454', '455', '456', '457', '458', '459', '460', '461', '462', '463', '464', '465', '466', '467', '468', '469', '470', '471', '472', '473', '474', '475', '476', '477', '478', '479', '480', '481', '482', '483', '484', '485', '486', '487', '488', '489', '490', '491', '492', '493', '494', '495', '496', '497', '498', '499', '500', '501', '502', '503', '504', '505', '506', '507', '508', '509', '510', '511', '512', '513', '514', '515', '516', '517', '518', '519', '520', '521', '522', '523', '524', '525', '526', '527', '528', '529', '530', '531', '532', '533', '534', '535', '536', '537', '538', '539', '540', '541', '542', '543', '544', '545', '546', '547', '548', '549', '550', '551', '552', '553', '554', '555', '556', '557', '558', '559', '560', '561', '562', '563', '564', '565', '566', '567', '568', '569', '570', '571', '572', '573', '574', '575', '576', '577', '578', '579', '580', '581', '582', '583', '584', '585')
('C1', 'C2', 'C3', 'C4', 'C5', 'C6', 'C7', 'C8', 'C9', 'C10', 'C11', 'B1', 'B2', 'B3', 'B4', 'B5', 'B6', 'B7', 'B8', 'B9', 'B10', 'C12', 'C13', 'C14', 'C15', 'C16', 'C17', 'C18', 'C19', 'C20', 'C21', 'C22', 'B11', 'B12', 'B13', 'B14', 'B15', 'B16', 'B17', 'B18', 'B19', 'B20', 'C23', 'C24', 'C25', 'C26', 'C27', 'C28', 'C29', 'C30', 'C31', 'C32', 'C33', 'B21', 'B22', 'B23', 'B24', 'B25', 'B26', 'B27', 'B28', 'B29', 'B30', 'C34', 'C35', 'C36', 'C37', 'C38', 'C39', 'C40', 'C41', 'C42', 'C43', 'C44', 'B31', 'B32', 'B33', 'B34', 'B35', 'B36', 'B37', 'B38', 'B39', 'B40', 'B41', 'B42', 'B43', 'B44', 'B45', 'B46', 'B47', 'B48', 'B49', 'B50', 'B51', 'B52', 'B53', 'B54', 'B55', 'B56', 'B57', 'B58', 'B59', 'B60', 'B61', 'B62', 'B63', 'B64', 'B65', 'B66', 'B67', 'B68', 'B69', 'B70', 'B71', 'B72', 'B73', 'C45', 'C46', 'C47', 'C48', 'C49', 'C50', 'C51', 'C52', 'C53', 'C54', 'C55', 'B74', 'B75', 'B76', 'B77', 'B78', 'B79', 'B80', 'B81', 'B82', 'B83', 'C56', 'C57', 'C58', 'C59', 'C60', 'C61', 'C62', 'C63', 'C64', 'C65', 'C66', 'B84', 'B85', 'B86', 'B87', 'B88', 'B89', 'B90', 'B91', 'B92', 'B93', 'C67', 'C68', 'C69', 'C70', 'C71', 'C72', 'C73', 'C74', 'C75', 'C76', 'C77', 'B94', 'B95', 'B96', 'B97', 'B98', 'B99', 'B100', 'B101', 'B102', 'B103', 'C78', 'C79', 'C80', 'C81', 'C82', 'C83', 'C84', 'C85', 'C86', 'C87', 'C88', 'B104', 'B105', 'B106', 'B107', 'B108', 'B109', 'B110', 'B111', 'B112', 'B113', 'B114', 'B115', 'B116', 'B117', 'B118', 'B119', 'B120', 'B121', 'B122', 'B123', 'B124', 'B125', 'B126', 'B127', 'B128', 'B129', 'B130', 'B131', 'B132', 'B133', 'B134', 'B135', 'B136', 'B137', 'B138', 'B139', 'B140', 'B141', 'B142', 'B143', 'B144', 'B145', 'B146', 'C89', 'C90', 'C91', 'C92', 'C93', 'C94', 'C95', 'C96', 'C97', 'C98', 'C99', 'B147', 'B148', 'B149', 'B150', 'B151', 'B152', 'B153', 'B154', 'B155', 'B156', 'C100', 'C101', 'C102', 'C103', 'C104', 'C105', 'C106', 'C107', 'C108', 'C109', 'C110', 'B157', 'B158', 'B159', 'B160', 'B161', 'B162', 'B163', 'B164', 'B165', 'B166', 'C111', 'C112', 'C113', 'C114', 'C115', 'C116', 'C117', 'C118', 'C119', 'C120', 'C121', 'B167', 'B168', 'B169', 'B170', 'B171', 'B172', 'B173', 'B174', 'B175', 'B176', 'C122', 'C123', 'C124', 'C125', 'C126', 'C127', 'C128', 'C129', 'C130', 'C131', 'C132', 'B177', 'B178', 'B179', 'B180', 'B181', 'B182', 'B183', 'B184', 'B185', 'B186', 'B187', 'B188', 'B189', 'B190', 'B191', 'B192', 'B193', 'B194', 'B195', 'B196', 'B197', 'B198', 'B199', 'B200', 'B201', 'B202', 'B203', 'B204', 'B205', 'B206', 'B207', 'B208', 'B209', 'B210', 'B211', 'B212', 'B213', 'B214', 'B215', 'B216', 'B217', 'B218', 'B219', 'C133', 'C134', 'C135', 'C136', 'C137', 'C138', 'C139', 'C140', 'C141', 'C142', 'C143', 'B220', 'B221', 'B222', 'B223', 'B224', 'B225', 'B226', 'B227', 'B228', 'B229', 'C144', 'C145', 'C146', 'C147', 'C148', 'C149', 'C150', 'C151', 'C152', 'C153', 'C154', 'B230', 'B231', 'B232', 'B233', 'B234', 'B235', 'B236', 'B237', 'B238', 'B239', 'C155', 'C156', 'C157', 'C158', 'C159', 'C160', 'C161', 'C162', 'C163', 'C164', 'C165', 'B240', 'B241', 'B242', 'B243', 'B244', 'B245', 'B246', 'B247', 'B248', 'B249', 'C166', 'C167', 'C168', 'C169', 'C170', 'C171', 'C172', 'C173', 'C174', 'C175', 'C176', 'B250', 'B251', 'B252', 'B253', 'B254', 'B255', 'B256', 'B257', 'B258', 'B259', 'B260', 'B261', 'B262', 'B263', 'B264', 'B265', 'B266', 'B267', 'B268', 'B269', 'B270', 'B271', 'B272', 'B273', 'B274', 'B275', 'B276', 'B277', 'B278', 'B279', 'B280', 'B281', 'B282', 'B283', 'B284', 'B285', 'B286', 'B287', 'B288', 'B289', 'B290', 'B291', 'B292', 'C177', 'C178', 'C179', 'C180', 'C181', 'C182', 'C183', 'C184', 'C185', 'C186', 'C187', 'B293', 'B294', 'B295', 'B296', 'B297', 'B298', 'B299', 'B300', 'B301', 'B302', 'C188', 'C189', 'C190', 'C191', 'C192', 'C193', 'C194', 'C195', 'C196', 'C197', 'C198', 'B303', 'B304', 'B305', 'B306', 'B307', 'B308', 'B309', 'B310', 'B311', 'B312', 'C199', 'C200', 'C201', 'C202', 'C203', 'C204', 'C205', 'C206', 'C207', 'C208', 'C209', 'B313', 'B314', 'B315', 'B316', 'B317', 'B318', 'B319', 'B320', 'B321', 'B322', 'C210', 'C211', 'C212', 'C213', 'C214', 'C215', 'C216', 'C217', 'C218', 'C219', 'C220', 'B323', 'B324', 'B325', 'B326', 'B327', 'B328', 'B329', 'B330', 'B331', 'B332', 'B333', 'B334', 'B335', 'B336', 'B337', 'B338', 'B339', 'B340', 'B341', 'B342', 'B343', 'B344', 'B345', 'B346', 'B347', 'B348', 'B349', 'B350', 'B351', 'B352', 'B353', 'B354', 'B355', 'B356', 'B357', 'B358', 'B359', 'B360', 'B361', 'B362', 'B363', 'B364', 'B365')
('Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1', 'Story1')

In [102]:
colums=["uniqueName","label","story"]
df=pd.DataFrame(np.transpose([lista_frames[1],lista_frames[2],lista_frames[3]]),columns=colums)
df

    uniqueName label   story
0            1    C1  Story1
1            2    C2  Story1
2            3    C3  Story1
3            4    C4  Story1
4            5    C5  Story1
..         ...   ...     ...
580        581  B361  Story1
581        582  B362  Story1
582        583  B363  Story1
583        584  B364  Story1
584        585  B365  Story1

[585 rows x 3 columns]

In [103]:

ret=SapModel.FrameObj.SetEndLengthOffset("312", False, 0.3, 0.3, 0.5)